.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3px 3px;

    @media screen and (min-width:400px) {
        gap: 10px 15px;
    }

    @media screen and (min-width:764px) {
        gap: 15px 20px;
    }
}

.btn:hover {
    background-color: $btn-shadow2;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    min-width: 2.2em;
    font-size: 1em;
    color: $text-color;
    background-color: $calculator-color;
    box-shadow: 5px 5px 10px -3px $btn-shadow1, -5px -5px 15px 3px $btn-shadow2;

    @media screen and (min-width:400px) {
        padding: 1.3em
    }

    @media screen and (min-width:764px) {
        padding: 1.8em
    }

    @media screen and (min-width:1024px) {
        padding: 2em;
        font-size: 1.2em;
    }
}

.btnClear {
    margin-top: 1em;
    background-color: $background-color;
    width: 8em;

    @media screen and (min-width:764px) {
        margin-top: 3em;
    }

    @media screen and (min-width:1024px) {
        width: 20em;
        margin-top: 5em;
    }
}

.btnClear:hover {
    background-color: $btnClear-hover;
}