$background-color: #224870;
$calculator-color: #00916e;
$shadow:#00000033;
$text-color:white;
$input-background-color: #363636;
$btn-shadow1:#00000040;
$btn-shadow2:#00ffc11f;
$btnClear-hover:#224889;